<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<h2 align="center">Library Database</h2><br><br>

<h3>Choose an option:</h3><br><br>

<form id="form_add_member" action="/addmember" enctype="multipart/form-data" method="post">
    <button type="submit" id="AddMember" onclick="/addMember">Add a Member</button><br><br>
</form>


<form id="form_add_book" action="/addbook" enctype="multipart/form-data" method="post">
    <button type="submit" id="AddBook" onclick="/addBook">Add a Book</button><br><br>
</form>

<form id="form_borrow_book" action="/BorrowBook" enctype="multipart/form-data" method="post">
    <button type="submit" id="Borrow">Borrow a Book</button><br><br>
</form>


<form id="form_return_book" action="/ReturnBook" enctype="multipart/form-data" method="post">
    <button type="submit" id="ReturnBook">Return a Book</button><br><br>
</form>

<form id="form_renew_membership" action="/RenewMembership" enctype="multipart/form-data" method="post">
    <button type="submit" id="RenewMembership">Renew Membership</button><br><br>
</form>


<form id="form_weekly_report" action="/Weekly" enctype="multipart/form-data" method="post">
    <button type="submit" id="Weekly">Weekly Report</button><br><br>
</form>

</body>
</html>